@{
    ViewData["Title"] = "Home Page";
}

<h1 class="h1 text-decoration-underline"> Bienvenido a tu pagina de confianza para el alquiler de vehiculos</h1>

<div class="container-fluid justify-content-center flex-md-wrap">
    <div class="btn-group mt-3 ">
        <a class="btn-info" asp-controller="Reservas" asp-action="Create">Haz una reserva</a>
    </div>
</div>

